<% if user_signed_in? %>
<h1>Welcome <%= current_user.name %>!</h1>
	<br></br>
	<p>You're logged in! Feel free to upload Pins through the Add+ button on your navigation-bar.</p>
	
<% else %>
	<div class="center hero-unit">
	    <h1>Welcome to One Month Rails! </h1>
	    <p> 
		    You've found the home page for the 
		   	<%= link_to 'One Month Rails',  "http://onemonthrails.com" %>
			application.   
	    </p>

	    <p> <%= link_to 'Sign up now!', new_user_registration_path, class: "btn btn-large btn-primary" %> </p>
	</div>

	<% end %>